<!DOCTYPE html>
<html>

<head>
  <title>Guest Book</title>
  <script src="/guest_book.js"></script>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <h1 class="heading"><a href="/"> <<</a> Guest Book</h1>
      <div>
          -_-_form_-_-
      </div>
  <div class="line"></div>
  <h1>Comments <button id="refresh" onclick="loadComments()">&#x21bb</button></h1>
  <table>
  <thead>
    <td>DATETIME</td>
    <td>NAME</td>
    <td>COMMENTS_LIST</td>
  </thead>
  <tbody id="comments">
  </tbody>
  </table>
</body>

</html>