.title {
  text-align: right;
  margin-right: 200px;
  color: orange;
}

.flowers {
  height:520px;
  width:870 px;
}

.line {
  background: black;
  height: 2px;
  width: 100%;
  margin:10px;
}

.image1 {
  height: 750px;
  width: 500px;
}
.image2 {
  height: 500px;
  width: 800px;
}

.book {
  display: flex;
  word-wrap: break-word;
  font-size: 14px;
}

.heading {
  text-align: center;
  color: orange;
}

main {
  display: flex;
  align-items: center;
  margin: 10px;
}